/** 
 * @author: alexandercds
 * @description: 
 * @date: 12/septiembre/2021
**/  
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primaryCyan1: hsl(179, 62%, 43%);
$primaryCyan2: hsla(179, 62%, 43%, 0.7);
$primaryBrightYellow: hsl(71, 73%, 54%);
 
$neutralLightGray: hsl(204, 43%, 93%);
$neutralGrayishBlue: hsla(218, 22%, 67%, 0.5);

* {
  margin: 0;
  padding: 0;
  font-family: 'Karla';
  font-size: 14px;
  background-color: $neutralGrayishBlue;
}

p, div, h3, span {
  background-color: transparent;
  color: #FFF;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 600px; 
  height: 500px;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 0px 15px 0px hsl(218, 22%, 67%);
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
 
.content.white { 
  display: flex;
  flex-direction: column;   
}

.content.white> .body> p{
  font-weight: bold;
  color: $neutralGrayishBlue; 
}

.content.white> h3.title{
  color: $primaryCyan1; 
}

h3.title{ 
  font-size: 1.3em;
  padding-bottom: 20px;
}

.content.white> .body> p.sub-title{ 
  color: $primaryBrightYellow !important;
}

.sub-title { 
  font-weight: bold;
  margin-bottom: 20px;
} 

.content.cyan-1> .body> p.sub-title {
  font-weight: 500;
}

.content.cyan-1> .body> p> span {
  font-size: 25px;
  font-weight: bold;
}

.text {
  margin-bottom: 20px;
}

.content.cyan-1 {  
  background-color: $primaryCyan1;
  width: 50%;
  border-bottom-left-radius: 10px;
}

.content.cyan-2 {
  width: 50%;
  background-color: $primaryCyan2; 
  border-bottom-right-radius: 10px;
}

.top {
  width: 100%;
  height: 50%;
  background-color: #FFF;;
  border-top: {
    left-radius: 10px;
    right-radius: 10px;
  };
}

.bottom { 
  height: 50%;
  display: flex;
  background-color: transparent;
} 

input[type="submit"] {
  cursor: pointer;
  width: 100%;
  background-color: $primaryBrightYellow;
  padding: 10px;
  border: 2px solid $primaryBrightYellow;
  border-radius: 5px;
  color: #FFF;
  box-shadow: 0px 5px 4px 0px $primaryCyan2;
}

input[type="submit"]:hover {
  background-color: hsla(71, 73%, 54%, 0.9);
  border: 2px solid hsla(71, 73%, 54%, 0.9);
}

